<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TinyURL</title>
</head>
<body>
<header>TinyApp</header>
<h1><%= username %></h1>
<% if (!username) { %>
  <form method="POST" action="/login">
    <input type="text" name="username" placeholder="Username">
    <button type="submit">Submit</button>
  </form>
  <% } else { %>
  <form method="POST" action="/logout">
    <button name="username" type="submit">Logout</button>
  </form>
  <% } %>
</body>
</html>