<!DOCTYPE html>
<html lang="en">
  <head>
    <title> TinyURL </title>
  </head>
  <body style="font-size:20px; padding:50px;">
  <h1>TinyApp</h1>
  <form action="/register" method="POST" style="margin:150px;">
  <h1>Register</h1>
      <input type="email" name="email" placeholder="Enter Email" style="width: 300px">
      <input type="password" name="password" placeholder="Enter Password" style="width: 300px">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>