<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
  <title>TinyURL</title>
</head>
<body>
    <ul>
    <% for (let url in urls ) { %>
<li><%= url %> - <%= urls[url]; %><form method="POST" action="/urls/<%= url %>/delete">
      <button type="submit">Delete <%= url %></button>
    </form></li>
   <% }; %>
    </ul>
    <a href="url">link text</a>


</body>
</html>