<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
  <title>TinyURL</title>
</head>
<body>
    <ul>
    <!--iterate through URLS and list all new additions.
     also include edit link to list and delete button -->
      <% for (let url in urls ) { %>
        <li><%= url %> - <%= urls[url].longURL; %>
          <a href="/urls/<%= url %>">edit</a>
          <form method="POST" action="/urls/<%= url %>/delete">
          <button type="submit">Delete URL </button>
          </form>
        </li>
      <% }; %>
    </ul>
</body>
</html>