<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
  <title>TinyURL</title>
</head>
<body style="font-size:20px; padding:50px;">
  <ul>
    <li> Short Version: <%= shortURL %></li>
    <li> Long Version: <%= longURL %></li>
    <form method="POST" action="/urls/<%= shortURL %>">
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <button type="submit">Update</button>
    </form>
  </ul>
</body>
</html>